.iconos .texto span {
    font-size: 0.8rem;
    display: block;
    margin-top: 0.5rem;
}

.iconos .icono {
    flex: 0 1 2rem;
}

.iconos ul li a {
    display: flex;
    justify-content: flex-start;
}